#https://github.com/chrisblakely01/java-spring-microservices/blob/main/api-gateway/src/main/resources/application.yml
server:
  port: 8080

# в системе существует защищенная (api) и незащищенная часть (auth)
# каждый запрос к api проверяется на наличие токена в ValidationFilter. Если токен есть - /auth/validate, если нет - статус гость в security context
# access токен - создается через /auth/login, обновляется через /auth/refresh (с помощью refresh токена)
# регистрация пользователя - /auth/register, выход из профиля (деактивация refresh токенов) - /auth/logout
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:


        - id: userservice
          uri: http://localhost:8085
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=2
            - ValidationFilter


        - id: javaprojects
          uri: http://localhost:8084
          predicates:
            - Path=/api/projects/java/**
          filters:
            - StripPrefix=3
            - ValidationFilter








        - id: auth
          uri: http://localhost:8082
          predicates:
            - Path=/auth/**
          filters:
            # фильтр удаляет первую часть пути (/api/) перед пробросом
            - StripPrefix=1


        - id: ai
          uri: http://localhost:8083
          predicates:
            - Path=/api/ai/**
          filters:
            - StripPrefix=2
            - ValidationFilter


        - id: cards
          uri: http://localhost:8000
          predicates:
            - Path=/api/cards/**
          filters:
            - StripPrefix=2
            - ValidationFilter





